# Set line endings
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/addons/kaykit_character_pack_adventures/** export-ignore
/addons/kaykit_character_pack_adventures/LICENSE.txt !export-ignore
/addons/kaykit_character_pack_adventures/Assets !export-ignore
/addons/kaykit_character_pack_adventures/Assets/** !export-ignore
/addons/kaykit_character_pack_adventures/Assets/fbx export-ignore
/addons/kaykit_character_pack_adventures/Characters !export-ignore
/addons/kaykit_character_pack_adventures/Characters/** !export-ignore
/addons/kaykit_character_pack_adventures/Characters/fbx export-ignore
/addons/kaykit_character_pack_adventures/Textures !export-ignore
/addons/kaykit_character_pack_adventures/Textures/** !export-ignore